body#gsr.hp.vasq{
 background-image: url("https://image.shutterstock.com/z/stock-photo-monarch-butterfly-a-monarch-butterfly-feeding-on-pink-flowers-in-a-summer-garden-362487542.jpg");
}
div.gb_xe.gb_R.gb_Me.gb_Ee {
 font-weight: bold;
 font-size: 15px;
}
